/*
Theme Name:  Astra Child
Theme URI:   http://wpastra.com/
Description: Astra is fast, fully customizable & beautiful theme suitable for blog, personal portfolio, business website and WooCommerce storefront. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with Schema.org code integrated so search engines will love your site. It offers special features and templates so it works perfectly with all page builders like Elementor, Beaver Builder, Visual Composer, SiteOrigin, Divi, etc. Some of the other features: # WooCommerce Ready # Responsive # RTL & Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and WooCommerce ready theme that you can use for building any kind of website!
Author:      Brainstorm Force
Author URI:  http://wpastra.com/about/
Template:    astra
Version:     1.5.1
License:     GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:        one-column, two-columns, left-sidebar, e-commerce, right-sidebar, custom-colors, custom-menu, editor-style, featured-images, full-width-template, microformats, post-formats, rtl-language-support, theme-options, threaded-comments, translation-ready, blog
Text Domain: astra
/* Note: The CSS files are loaded from assets/css/ folder. */


.content-wrapper {
  max-width: 960px;
  margin: auto auto;
}

.bg-wrapper {

}

.bg {
  /* content: " "; */
  background-image: url("/wp-content/uploads/2018/10/wide.jpg");
  /* width: 100vw; */
  /* margin-left: calc(-50vw + 50% - 8px); */
  /* margin-top: -330px; */
  /* position: absolute; */
  /* z-index: 9; */
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}


.blocks-gallery-item > a {
  
}

.blocks-gallery-item img {
  padding: 5px 4px;
  margin: 2%;
  overflow: hidden;

    
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blocks-gallery-item > a:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blocks-gallery-item a:hover img {
  height: 104% !important;
}

.wp-block-gallery {
  margin-bottom: 20px;
}

p.quote-text {
  display: block;
  margin: 0 auto;
  width: 480px;
  text-align: center;
  margin-bottom: 21px;
}

.hr75 {
  width: 75%;
}

.hr50 {
  width: 50%;
}