.woocommerce a.button,
.woocommerce button.button,
.woocommerce .woocommerce-message a.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce input.button,
.woocommerce-cart table.cart td.actions .button,
.woocommerce form.checkout_coupon .button,
.woocommerce #respond input#submit {
  padding: 10px 30px;
}

.woocommerce a.button:disabled,
.woocommerce a.button.disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button:disabled,
.woocommerce button.button.disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button:disabled,
.woocommerce input.button.disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled[disabled] {
  color: #fff;
  cursor: not-allowed;
  opacity: 0.5;
  padding: 0.618em 1em;
}

.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce button.button.alt:hover,
.woocommerce .woocommerce-message a.button:hover, 
.woocommerce #respond input#submit:hover, 
.woocommerce #respond input#submit.alt:hover, 
.woocommerce input.button:hover, 
.woocommerce button.button.alt.disabled:hover {
  color: #ffffff;
  border-color: #47a6ff;
  background-color: #47a6ff;
}

.woocommerce a.button#place_order,
.woocommerce a.button.alt,
.woocommerce button#place_order.button.alt,
.woocommerce input.button.alt,
.woocommerce ul.products li.product .button.added,
.woocommerce-page ul.products li.product .button.added {
  color: #ffffff;
  border-color: #38b873;
  background-color: #38b873;
}

.woocommerce a.button.alt:hover,
.woocommerce a.button.alt:focus,
.woocommerce button#place_order.button.alt:hover,
.woocommerce button#place_order.button.alt:focus,
.woocommerce input.button.alt:hover,
.woocommerce input.button.alt:focus {
  border-color: #48db8c;
  background-color: #48db8c;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title:hover,
.woocommerce-page ul.products li.product .woocommerce-loop-product__title:hover,
.woocommerce ul.products li.product .woocommerce-loop-product__title:focus,
.woocommerce-page ul.products li.product .woocommerce-loop-product__title:focus {
  color: #2c89e1;
}

.ast-site-header-cart .widget_shopping_cart .buttons .button.checkout,
.woocommerce .widget_shopping_cart .woocommerce-mini-cart__buttons .checkout.wc-forward {
  color: #ffffff;
  border-color: #38b873;
  background-color: #38b873;
}

.ast-site-header-cart .widget_shopping_cart .buttons .button.checkout:hover, 
.ast-site-header-cart .widget_shopping_cart .buttons .button.checkout:focus, 
.woocommerce .widget_shopping_cart .woocommerce-mini-cart__buttons .checkout.wc-forward:hover,
.woocommerce .widget_shopping_cart .woocommerce-mini-cart__buttons .checkout.wc-forward:focus {
  border-color: #48db8c;
  background-color: #48db8c;
}

.woocommerce-message,
.woocommerce-info {
  border-top-color: #38b873;
}

.woocommerce-message::before,
.woocommerce-info::before {
  content: '\e015';
  color: #38b873;
}

.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.widget_layered_nav_filters ul li.chosen a,
.woocommerce-page ul.products li.product .ast-woo-product-category,
.wc-layered-nav-rating a {
  color: #38b873;
  font-size: 20px;
}
.woocommerce div.product span.price del, 
.woocommerce div.product p.price del,
.woocommerce ul.products li.product .price del {
  color: #333;
  font-size: 14px;
  font-weight:500;
}

.woocommerce .quantity .qty {
  min-height: 32px;
}

.woocommerce .ast-site-header-cart .widget_shopping_cart,
.ast-site-header-cart .widget_shopping_cart {
  width: 440px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding: 1em 0 0;
  margin: 6px 0 1em;
  border-top: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  background-color: #ffffff;
  padding: 10px 20px 0px;
  font-size: 16px;
  top: 0px;
  font-weight: 500;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus,
.woocommerce div.product .woocommerce-tabs ul.tabs li a.active {
  background-color: #ffffff;
}

.woocommerce div.product form.cart .button.single_add_to_cart_button {
  padding: 9px 20px !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  margin: 0;
  padding: 0;
  height: 30px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  padding: 2px 0 0 0;
}

.woocommerce div.product .woocommerce-tabs .shop_attributes td {
  padding: .5em .5em .5em .9em;
  font-style: normal;
  border-style: solid;
}
.woocommerce table.shop_attributes td {
  font-style: italic;
  padding: 0;
  border-top: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5;
}

.woocommerce div.product .product_title {
  font-size: 2em;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce-page ul.products li.product .woocommerce-loop-product__title {
  font-size: 1.2em;
  font-family: inherit;
}

.woocommerce ul.products li.product .onsale {
  /* display: none; */
  /* margin: 0; */
}

.woocommerce span.onsale {
  /* margin: 0; */
  /* display:  none; */
}
